@import '/src/scssVars.scss';

$borderColor: rgb(90, 90, 90);
$controlHeight: 22px;

.container{
  // background-color: orange;
  padding-top: 20px;
}

.gradientStopsInterface{
  position: relative;
  width: 100%;
  height: 15px;
  background-color: black;
  border-radius: 4px;
  margin-bottom: 18px;
  cursor: copy;
}

.stopHudWrapper{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  // background-color: white;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  box-shadow: 0 0 2px 1px #000;
  user-select: none;
  cursor: crosshair;
  transition: 20ms all;
  &.active {
    border: 1px solid white;
    box-shadow: 0 0 1px 3px $highlightColor;
  }
}